<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> blogs </title>
  <link rel="stylesheet" type="text/css" href="./css/common.css" />
  <link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>
<body>
  <div id="app">
    <div class="main-flex">
      <div class="col-12">
        <section class="section-left front-end">
          <article class="flex">
            <div class="col-8" v-for="item of FrontEndList" :key="item.id"> 
              <h1 @click="showLongFn(item.categoryName)"> <a :href="item.href">{{ item.categoryName }}{{showLongName}}</a> </h1>
              <section class="category" :style="`height: ${availHeight/2-30}px`">
                <a class="text-a" target="_blank" :class="{'text-b': itemSon.grade}" :href="itemSon.href" v-for="(itemSon, indexSon) of item.children" :key="indexSon"> {{ itemSon.showId ? itemSon.id+'. ' : '' }}{{ itemSon.name }} </a>
              </section>
            </div>
          </article>
        </section>
      </div>
      <div class="col-12">
        <section class="section-right front-end">
          <article class="flex">
            <div class="col-8" v-for="item of BackEndList" :key="item.id"> 
              <h1 @click="showLongFn(item.categoryName)"> {{ item.categoryName }} </h1>  
              <section class="category" :style="`height: ${availHeight/2-30}px`">
                <a class="text-a" target="_blank" :class="{'text-b': itemSon.grade}" :href="itemSon.href" v-for="(itemSon, indexSon) of item.children" :key="indexSon"> {{ itemSon.name }} </a>
              </section>
            </div>
          </article>
        </section>
      </div>

      <article class="other-model">
        <div class="col-8" v-for="item of OtherModel" :key="item.id"> 
          <a class="text-a" target="_blank" :href="item.href" :key="item.id"> {{ item.name }} </a>
        </div>
      </article>
    </div>
    
  </div>

  <!-- <script src="https://unpkg.com/vue@next"></script> -->
  <script src="./vue.global.js"></script>
  <script src="./js/frontEndList.js"></script>
  <script src="./js/backEndList.js"></script>
  <script>
    const Counter = {
      setup() {
        const availHeight = window.screen.availHeight;
        let showLongName = '';
        // console.log(Counter)
        // // let showLongName = setShowLongNamd('');
        function showLongFn(name){
          showLongName = name
        }
        return {
          showLongFn,
          availHeight,
          FrontEndList,
          BackEndList,
          showLongName,
        }
      }
    }

    Vue.createApp(Counter).mount('#app')
  </script>
</body>
</html>