<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> blogs </title>
  <link rel="stylesheet" type="text/css" href="./css/common.css" />
  <link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>
<body>
  <div id="app" class="theme-black">
    <!-- 上半部分 -->
    <article class="flex" v-show="showFrontEnd">
      <div class="col-4 col-sm" v-for="(item, index) of FrontEndList" :key="index">
        <!-- <block v-show="!item.show"> -->
        <block v-show="item.show">
          <!-- 标题 -->
          <h1>
            <a :href="item.href">{{ item.categoryName }}{{showLongName}}</a>
            <span @click="openItem(item)">+</span>
          </h1>
          <!-- 内容 -->
          <section class="category" :style="`height: ${availHeight-40}px`">
            <a
              target="_blank"
              class="text-a"
              :class="{
                'text-done': !itemSon.done,
                'text-b': itemSon.href
              }"
              :href="itemSon.href"
              v-for="(itemSon, indexSon) of item.children"
              :key="indexSon">
              {{ itemSon.name }}
            </a>
            <a
              target="_blank"
              class="text-a"
              :class="{
                'text-done': !itemSon.done,
                'padding-bottom': (1+indexSon)%5 == 0
              }"
              :href="itemSon.href"
              v-for="(itemSon, indexSon) of item.itemsChildren"
              :key="indexSon">
              {{ `${1+indexSon}. ${itemSon.name}` }}
            </a>
          </section>
        </block>
      </div>
    </article>

    <!-- 下半部分 -->
    <article class="flex" v-show="showBackEnd">
      <div class="col-4 col-sm" v-for="(item, index) of BackEndList" :key="index">
        <!-- <block v-show="!item.show"> -->
        <block v-show="item.show">
          <h1> {{ item.categoryName }} </h1>  
          <section class="category" :style="`height: ${availHeight/2-30}px`">
            <a class="text-a" target="_blank" :class="{'text-b': itemSon.grade}" :href="itemSon.href" v-for="(itemSon, indexSon) of item.children" :key="indexSon"> {{ itemSon.name }} </a>
          </section>
        </block>
      </div>
    </article>
  </div>


  <!-- <script src="https://unpkg.com/vue@next"></script> -->
  <script src="./vue.global.js"></script>
  <script src="./js/frontEndList.js"></script>
  <script src="./js/backEndList.js"></script>
  <script>
    const Counter = {
      setup() {
        const availHeight = window.screen.availHeight;
        return {
          showFrontEnd: true,
          showBackEnd: true,
          FrontEndList,
          BackEndList,
          availHeight,
        }
      }
    }

    Vue.createApp(Counter).mount('#app')
  </script>
</body>
</html>