<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>
	<div id="app">
		<textarea :style="`width:${width}px;height:${height}px`" v-model="oldValue"></textarea>
		<textarea :style="`width:${width}px;height:${height}px`" v-model="newValue"></textarea>
	</div>
	<a href="./uniChangewx.html" target="_self">uniChangewx</a><br/>
	<a href="./wxChangeuni.html" target="_self">wxChangeuni</a><br/>
	<a href="./wxChangesetup.html" target="_self">wxChangesetup</a>


	<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					width: '500',
					height: '500',
					oldValue: '',
					newValue: '',
				}
			},
			watch: {
				oldValue() {
					let oldValue = this.oldValue;

					if(oldValue.includes('deep')) {
						alert('有deep!')
					}
					let newValue = oldValue.replace(/0px /g, "0");

					newValue = this.pxToRpx(oldValue);
					newValue = newValue.replace(/500;/g, "bold;");
					newValue = newValue.replace(/ 0px/g, "");
					// this.newValue = newValue.toLocaleLowerCase();
					this.newValue = newValue
				}
			},
			mounted() {
				this.width = window.screen.availWidth/2*0.9;
				this.height = window.screen.availHeigh;
				console.log(this.width)
			},
			methods: {
				pxToRpx(str) {
				  if(!str) {return ''}
				  let r = /(0|1|2|3|4|5|6|7|8|9)px*/g
				  let index = str.search(r);
				  if(index != -1) {
				    let newVal = `${str.slice(0,index+1)}r${str.slice(index+1)}`
				    return this.pxToRpx(newVal)
				  } else {
				    return str
				  }  
				}
			}
			
		})
	</script>
</body>
</html>
